<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDGVXk08w4dGDGHmZB6mRV26a0jsVg6AJI</string>
	<key>GCM_SENDER_ID</key>
	<string>1005148767734</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.FirstMobileApp</string>
	<key>PROJECT_ID</key>
	<string>first-app-b5011</string>
	<key>STORAGE_BUCKET</key>
	<string>first-app-b5011.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1005148767734:ios:48b48f1ad9871849e273d7</string>
</dict>
</plist>